@charset "UTF-8";
/* CSS Document */
body {
	font-family: Helvetica, Arial, sans-serif;
}
.head-banner {
	background: url(/images/pattern.jpeg);
}
h1 {
	color:khaki;
	font-size: 100px;
	text-align: center;
}
h2 {
	color: #fff;
	font-size: 32px;
	font-weight: bold;
}
h2#brushes {
	background-color: mediumspringgreen;
}
h2#frames {
	background-color:lightcoral;
}
h2#paint {
	background-color:skyblue;
}
p span {
	color: blue;
	font-weight: bold;
}